<template>
  <q-page>
    <!-- Debugging -->
    <!-- <pre>{{ JSON.stringify(filters, null, 3) }}</pre> -->
    <!-- <q-toolbar>
      <q-btn
        flat
        round
        dense
        :disable="!isSelectedMoreThanOne"
        icon="mdi-pencil"
        @click="showEntityEditor = true"
      />
      <q-space />
    </q-toolbar>
    <q-separator /> -->

    <!-- Sample Gallery -->
    <div class="q-gutter-md row items-start q-pa-md">
      <EntityPreviewCard
        v-for="result in results"
        :key="result.id"
        :entity="result"
      >
      </EntityPreviewCard>
    </div>

    <div class="q-pa-lg flex flex-center" v-if="filters.page">
      <q-pagination
        :value="filters.page"
        :max="maxPages"
        :max-pages="10"
        :boundary-numbers="true"
        :input="true"
        input-class="text-white"
        @input="ev => updateFilter({ page: ev })"
      >
      </q-pagination>
    </div>

    <!-- App data debug -->
    <!-- <div class="q-ma-md row items-middle justify-evenly">
      <div class="row items-top justify-evenly">
        <div class="col">
          <q-badge color="secondary"> Settings:</q-badge>
          <pre>{{ JSON.stringify(settings, null, 3) }}</pre>
          <q-badge color="secondary"> Filters: </q-badge>
          <pre>{{ JSON.stringify(filters, null, 3) }}</pre>
          <br />
          <q-badge color="secondary"> Database: </q-badge>
          <pre>{{ JSON.stringify(database, null, 3) }}</pre>

           <q-badge color="accent"> Results: </q-badge>
          <div v-if="loading">Loading...</div>
          <div>
            <pre>
            {{ JSON.stringify(results, null, 2) }}
          </pre
            >
          </div>
        </div>
      </div>
    </div> -->

    <!-- details page -->
    <q-dialog
      v-model="showEntityEditor"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <EntityEditor />
    </q-dialog>

    <q-inner-loading :showing="loading"> </q-inner-loading>
  </q-page>
</template>

<script lang="ts">
import EntityPreviewCard from 'components/EntityPreviewCard.vue';
import EntityEditor from 'components/EntityEditor.vue';
import { defineComponent, computed, ref, watch } from '@vue/composition-api';
import { FilterState } from 'src/models/types';

export default defineComponent({
  name: 'PageIndex',
  components: {
    EntityPreviewCard,
    EntityEditor
  },
  setup(props, { emit, root }) {
    const settings = computed(() => root.$store.getters['app/settings']);
    const filters = computed(() => root.$store.getters['app/filters']);
    const database = computed(() => root.$store.getters['app/database']);
    const loading = computed(() => root.$store.getters['results/loading']);
    const results = computed(() => root.$store.getters['results/results']);
    const totalItems = computed(
      () => root.$store.getters['results/totalItems']
    );
    const showEntityEditor = false;

    const selected = computed(() => root.$store.getters['results/selected']);
    const isSelectedMoreThanOne = computed(
      () => root.$store.getters['results/selected'].length > 0
    );

    const updateFilter = (filters: Partial<FilterState>) => {
      void root.$store.dispatch('app/updateFilter', filters);
    };

    watch(
      filters,
      newValue => {
        root.$store.dispatch('results/loadResults', {
          database: database.value,
          filters: newValue
        });
      },
      {
        deep: true,
        immediate: true
      }
    );

    const maxPages = computed(() => {
      try {
        return Math.ceil(totalItems.value / filters.value.pageSize);
      } catch (err) {
        return 1;
      }
    });

    return {
      settings,
      filters,
      database,
      loading,
      results,
      isSelectedMoreThanOne,
      showEntityEditor,
      PAGE_SIZES: [5, 10, 25, 50, 75, 100],
      maxPages: maxPages,
      updateFilter
    };
  }
});
</script>

<style lang="scss" scoped>
pre {
  font-size: 0.8em;
  line-height: 120%;
  tab-size: 2;
  font-family: 'Roboto';
}
</style>
