<template>
  <q-card dark class="bg-grey-10" style="width:50vw; max-width: 80vw;">
    <q-toolbar class="bg-primary">
      <q-avatar>
        <q-icon size="md" name="mdi-pencil" />
      </q-avatar>

      <q-toolbar-title>Editing 1 Selected Entity</q-toolbar-title>

      <q-btn flat round dense icon="close" v-close-popup />
    </q-toolbar>

    <div class="q-pa-md q-gutter-y-sm">
      <!-- Name -->
      <div class="row items-top ">
        <div class="col-4 col-xs-12 col-sm-5 col-md-3">
          <q-checkbox v-model="nameEnabled" label="Name" />
        </div>
        <div class="col col-xs-12 col-sm-7 col-md-9 q-gutter-sm">
          <q-input
            dense
            rounded
            standout
            v-model="nameModel"
            :disable="!nameEnabled"
          />
        </div>
      </div>
      <q-separator spaced />
      <!-- Description -->
      <div class="row items-top ">
        <div class="col-4 col-xs-12 col-sm-5 col-md-3">
          <q-checkbox v-model="descriptionEnabled" label="Description" />
        </div>
        <div class="col col-xs-12 col-sm-7 col-md-9 q-gutter-sm">
          <q-input
            v-model="descriptionModel"
            rounded
            standout
            dense
            autogrow
            :disable="!descriptionEnabled"
          />
        </div>
      </div>
      <q-separator spaced />
      <!-- Tags -->
      <div class="row items-top ">
        <div class="col-4 col-xs-12 col-sm-5 col-md-3">
          <q-checkbox v-model="tagsEnabled" label="Tags" />
        </div>
        <div class="col col-xs-12 col-sm-7 col-md-9 q-gutter-sm">
          <q-select
            :options="operationOptions"
            rounded
            standout
            dense
            v-model="tagsOperation"
            :disable="!tagsEnabled"
          />
          <q-select
            rounded
            standout
            dense
            multiple
            use-chips
            use-input
            input-debounce="0"
            new-value-mode="add-unique"
            v-model="tagsModel"
            :options="tags"
            :disable="!tagsEnabled"
          />
        </div>
      </div>
      <q-separator spaced />
      <!-- Collections -->
      <!-- https://quasar.dev/vue-components/select#Example--Filtering-without-adding-to-menu -->
      <div class="row items-top ">
        <div class="col-4 col-xs-12 col-sm-5 col-md-3">
          <q-checkbox v-model="collectionsEnabled" label="Collections" />
        </div>
        <div class="col col-xs-12 col-sm-7 col-md-9 q-gutter-sm">
          <q-select
            :options="operationOptions"
            rounded
            standout
            dense
            v-model="collectionsOperation"
            :disable="!collectionsEnabled"
          />
          <q-select
            rounded
            standout
            dense
            multiple
            use-chips
            use-input
            input-debounce="0"
            new-value-mode="add-unique"
            v-model="collectionsModel"
            :options="collections"
            :disable="!collectionsEnabled"
          />
        </div>
      </div>
    </div>

    <q-card-actions align="right">
      <q-btn flat v-close-popup>Cancel</q-btn>
      <q-btn color="primary">Save</q-btn>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from '@vue/composition-api';

export default defineComponent({
  name: 'CollectionEditor',
  props: {},

  setup(props, { root }) {
    const nameEnabled = false;
    const descriptionEnabled = false;
    const tagsOperation = 'Add';
    const tagsEnabled = false;
    const tagsModel: string[] = [];
    const tags: string[] = ['Purple', 'Orange', 'Green', 'Yellow', 'Red'];
    const collectionsOperation = 'Add';
    const collectionsEnabled = false;
    const collectionsModel: string[] = [];
    const collections: string[] = [
      'Google',
      'Facebook',
      'Twitter',
      'Apple',
      'Oracle'
    ];
    const nameModel = '';
    const descriptionModel = '';
    const operationOptions = ['Add', 'Overwrite', 'Remove'];
    const editingDefault = 'Add';

    return {
      nameEnabled,
      nameModel,
      descriptionEnabled,
      descriptionModel,
      tagsEnabled,
      tagsOperation,
      tagsModel,
      tags,
      collectionsEnabled,
      collectionsModel,
      collections,
      operationOptions,
      collectionsOperation
    };
  }
});
</script>
