<template>
  <!-- Sample Item --> 
  <q-card flat :style="cardStyle">
    <!-- media visual -->
    <div
      style="cursor: pointer;"
      class="checkers"
      @dblclick="showDetailsDialog = true"
      @click="onHandleClick($event, entity)"
      draggable
      @dragstart="onHandleDragStart($event, entity)"
      v-ripple
    >
      <Filmstrip v-if="entity.filmstrip" :src="entity.filmstrip" />
      <q-img
        v-else
        contain
        :src="entity.thumbnail"
        :ratio="16/9"
        spinner-color="white"
        class="relative-position"
      >
      </q-img>
    </div>
    <q-card-section class="fit row no-wrap items-center q-pa-sm">
      <div class="ellipsis q-mr-md" :title="entity.name">
        {{ entity.name }}
      </div>
      <q-space />
      <div class="row no-wrap">
        <!-- <q-btn
          flat
          round
          dense
          size="sm"
          :color="entity.isFavorited ? 'pink' : 'white'"
          :icon="entity.isFavorited ? 'mdi-heart' : 'mdi-heart-outline'"
          @click="toggleFavoriteItem(entity)"
        /> -->
        <q-btn
          flat
          round
          dense
          size="sm"
          :color="isInShoppingCart ? 'amber' : 'white'"
          :icon="isInShoppingCart ? 'mdi-cart' : 'mdi-cart-outline'"
          @click="toggleShoppingCartItem(entity.id)"
        />
      </div>
    </q-card-section>

    <!-- selection indicator -->
    <div
      class="bg-transparent no-pointer-events absolute-full"
      v-if="isSelected"
    >
      <div class="absolute-full selectedBorder"></div>
      <div class="absolute-full bg-primary" style="opacity: 25%;"></div>
    </div>

    <!-- details page -->
    <q-dialog v-model="showDetailsDialog" full-height full-width>
      <EntityDetailsPage
        :v-if="showDetailsDialog"
        :entityId="entity.id"
        @close="closeShowDetailDialog"
        @toggleShoppingCartItem="toggleShoppingCartItem"
        @toggleFavoriteItem="toggleFavoriteItem"
      />
    </q-dialog>
  </q-card>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  ref,
  watch,
  toRef
} from '@vue/composition-api';
import EntityDetailsPage from 'components/EntityDetailsPage.vue';
import Filmstrip from 'components/Filmstrip.vue';
import { SearchResult } from 'src/models/types';
export default defineComponent({
  name: 'EntityPreviewCard',
  components: {
    EntityDetailsPage,
    Filmstrip
  },
  props: {
    entity: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit, root }) {
    const showDetailsDialog = ref(false);
    const settings = computed(() => root.$store.getters['app/settings']);
    const filters = computed(() => root.$store.getters['app/filters']);
    const { entity } = props;

    const isSelected = computed(
      () =>
        (root.$store.getters['results/selected'] as any[]).indexOf(
          entity.id
        ) !== -1
    );

    const isInShoppingCart = computed(() => {
      try {
        return (
          (root.$store.getters['app/filters'].shoppingCart as any[]).indexOf(
            entity.id
          ) !== -1
        );
      } catch (err) {
        return false;
      }
    });

    const onHandleClick = (ev: Event, selectedEntity: any) => {
      void root.$store.dispatch('results/setSelected', {
        id: selectedEntity.id,
        doAdd: (ev as any).ctrlKey
      });
    };

    const onHandleDragStart = (ev: any, entity: any) => {
      // corner case - user begins dragging from item not selected
      if (!isSelected.value) {
        void root.$store.dispatch('results/setSelected', {
          id: entity.id,
          doAdd: ev.ctrlKey
        });
      }

      // continue with regular drag process
      const selection: any[] = root.$store.getters['results/selected'];
      const results: any[] = root.$store.getters['results/results'];

      const urls = selection
        .map(id => results.find(r => r.id === id))
        .filter(v => v)
        .map(item => item.url)
        .join(';');

      // urls should be separated by ';'
      (ev.dataTransfer as DataTransfer).setData('text/plain', urls);
    };

    const closeShowDetailDialog = () => {
      showDetailsDialog.value = false;
    };

    const toggleShoppingCartItem = (id: string) => {
      void root.$store.dispatch('app/toggleShoppingCartItem', id);
    };

    const toggleFavoriteItem = (entity: any) => {
      void root.$store.dispatch('app/toggleFavoriteItem', entity);
    };

    const cardStyle = computed(() => {
      return `overflow:hidden;width:${String(settings.value.mediaThumbnailSize)}px`;
    });

    return {
      showDetailsDialog,
      isSelected,
      filters: filters,
      isInShoppingCart: isInShoppingCart,
      onHandleClick: onHandleClick,
      onHandleDragStart: onHandleDragStart,
      closeShowDetailDialog: closeShowDetailDialog,
      toggleShoppingCartItem: toggleShoppingCartItem,
      toggleFavoriteItem: toggleFavoriteItem,
      cardStyle: cardStyle
    };
  }
});
</script>

<style lang="scss" scoped>
.selectedBorder {
  border: 2px solid $primary;
  border-radius: $generic-border-radius;
}
.checkers {
  background-color: black;
  background-image: linear-gradient(45deg, #0f0f0f 25%, transparent 25%),
    linear-gradient(-45deg, #0f0f0f 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #0f0f0f 75%),
    linear-gradient(-45deg, transparent 75%, #0f0f0f 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-repeat: repeat, repeat;
}
</style>
