<template>
  <q-layout view="Lhh lpR lfr" container class="bg-dark">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn flat dense round icon="mdi-chevron-left" @click="nextEntity(-1)">
          <q-tooltip :delay="700">Previous</q-tooltip>
        </q-btn>

        <q-btn flat dense round icon="mdi-chevron-right" @click="nextEntity(1)">
          <q-tooltip :delay="700">Next</q-tooltip>
        </q-btn>

        <q-separator spaced vertical inset />
        <q-btn
          flat
          dense
          round
          icon="mdi-web"
          @click="onOpenUrl(currentEntity.url)"
          draggable
          @dragstart="onHandleDragStart($event, currentEntity)"
        >
          <q-tooltip :delay="700">{{ currentEntity.url }}</q-tooltip>
        </q-btn>
        <q-toolbar-title>
          {{ currentEntity.name }}
        </q-toolbar-title>

        <q-btn flat dense round icon="mdi-close" v-close-popup>
          <q-tooltip :delay="700">Close</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-page class="fit row justify-start items-stretch content-stretch">
        <!-- Column 1 -->
        <div class="col col-xs-12 col-sm-12 col-md col-lg">
          <!-- Media -->
          <div class="row items-center justify-evenly q-pa-lg q-gutter-md">
            <video
              v-if="currentEntity.video"
              :src="currentEntity.video"
              controls
              autoplay
              loop
              width="auto"
              height="auto"
              :poster="currentEntity.thumbnail"
            />
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-auto col-xs-12 col-sm-12 col-md-4 col-lg-4 bg-grey-10">
          <!-- Details -->
          <q-card flat class="bg-transparent">
            <q-item>
              <q-item-section avatar>
                <q-avatar size="60px">
                  <img :src="currentEntity.thumbnail" />
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label
                  class="text-h6"
                  style="overflow-wrap: break-word;"
                >
                  {{ currentEntity.name }}
                </q-item-label>

                <q-item-label>
                  <!-- <q-btn
                    flat
                    dense
                    round
                    icon="mdi-heart-outline"
                    @click="$emit('toggleFavoriteItem', currentEntity)"
                  /> -->
                  <q-btn
                    flat
                    dense
                    round
                    :color="isInShoppingCart ? 'amber' : 'white'"
                    :icon="isInShoppingCart ? 'mdi-cart' : 'mdi-cart-outline'"
                    @click="$emit('toggleShoppingCartItem', entityId)"
                  />
                </q-item-label>
              </q-item-section>
            </q-item>
            <!-- <q-card-section>
            <div class="text-h5 text-bold">{{ currentEntity.name }}</div>
            <div class="text-subtitle2">
              <q-btn
                flat
                dense
                round
                icon="mdi-heart-outline"
                @click="$emit('toggleFavoriteItem', currentEntity)"
              />
              <q-btn
                flat
                dense
                round
                :color="isInShoppingCart ? 'amber' : 'white'"
                :icon="isInShoppingCart ? 'mdi-cart' : 'mdi-cart-outline'"
              />
            </div>
          </q-card-section> -->

            <div v-if="currentEntity.description" class="text-body2">
              <q-separator spaced />
              <q-card-section style="overflow-wrap: break-word;">
                {{ currentEntity.description }}
              </q-card-section>
            </div>

            <!-- Parts -->
            <div v-if="Array.isArray(parts)">
              <q-separator spaced />
              <q-list dense padding>
                <q-item-label header>Asset Parts</q-item-label>

                <q-item
                  clickable
                  v-ripple
                  v-for="(part, index) in parts"
                  :key="index"
                  class="cursor-pointer q-ma-none q-pa-none"
                  draggable
                  @dragstart="onHandleDragStart($event, part)"
                >
                  <q-item-section side>
                    <q-icon name="mdi-puzzle" color="primary" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label caption>{{ part.name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
              <!-- {{ parts.map(p => p.name).join(' ,') }} -->
            </div>

            <q-separator spaced />

            <q-list padding>
              <q-item-label header>Keywords</q-item-label>

              <q-item>
                <q-item-section>
                  <q-item-label>
                    <q-chip v-if="currentEntity.type" icon="mdi-shape">
                      {{ currentEntity.type }}
                    </q-chip>

                    <q-chip
                      v-for="(result, index) in currentEntity.collections"
                      icon="mdi-bookmark"
                      :key="index"
                    >
                      {{ result }}
                    </q-chip>

                    <q-chip
                      v-for="(result, index) in currentEntity.tags"
                      icon="mdi-tag"
                      :key="index"
                    >
                      {{ result }}
                    </q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  onMounted,
  onUnmounted,
  watch,
  ComputedRef
} from '@vue/composition-api';
import { SearchResult } from 'src/models/types';
import { getService } from 'src/services';
import { shell } from 'electron';

export default defineComponent({
  name: 'MediaItemDetails',
  components: {},
  props: {
    entityId: {
      type: String,
      required: true
    }
  },
  setup(props, { emit, root }) {
    const { entityId } = props;
    const parts: ComputedRef<any> = ref([]);
    const database = computed(() => root.$store.getters['app/database']);

    const currentEntityId = ref(entityId);
    const currentEntity = computed(() => {
      const results: any[] = root.$store.getters['results/results'];
      const entity = results.find(res => res.id === currentEntityId.value);

      return entity;
    });

    const isInShoppingCart = computed(() => {
      try {
        return (
          (root.$store.getters['app/filters'].shoppingCart as any[]).indexOf(
            currentEntityId.value
          ) !== -1
        );
      } catch (err) {
        return false;
      }
    });

    const nextEntity = (step: number) => {
      const results: any[] = root.$store.getters['results/results'];
      const currentIndex = results.findIndex(
        res => res.id === currentEntityId.value
      );
      const nextIndex = (currentIndex + step + results.length) % results.length;

      currentEntityId.value = results[nextIndex].id;
    };

    const onHandleDragStart = (ev: any, selectedEntity: SearchResult) => {
      (ev.dataTransfer as DataTransfer).setData(
        'text/plain',
        selectedEntity.url
      );
    };

    const onOpenUrl = (url: string) => {
      shell.openExternal(url);
    };

    const handleKeyUp = function(evt: KeyboardEvent) {
      switch (evt.keyCode) {
        case 27:
          emit('close');
          break;

        case 37:
          nextEntity(-1);
          break;

        case 39:
          nextEntity(1);
          break;
      }
    };

    onMounted(() => {
      document.addEventListener('keyup', handleKeyUp);
    });

    onUnmounted(() => {
      document.removeEventListener('keyup', handleKeyUp);
    });

    watch(
      currentEntityId,
      async newValue => {
        const service = getService(database.value.id);
        // eslint-disable-next-line
        // @ts-ignore
        parts.value = await service.getParts(currentEntityId.value);
      },
      {
        deep: true,
        immediate: true
      }
    );

    return {
      currentEntity: currentEntity,
      nextEntity: nextEntity,
      onOpenUrl: onOpenUrl,
      onHandleDragStart: onHandleDragStart,
      isInShoppingCart: isInShoppingCart,
      parts
    };
  }
});
</script>

<style lang="scss" scoped>
video {
  width: 100% !important;
  height: auto !important;
  max-height: 80vh;
}
</style>
