<template>
<div :style="boundingStyle">
  <div :style="viewportStyle">
    <img :style="imageStyle" :src="src" @load="onImageLoad" />
  </div>
</div>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  ref,
  Ref,
  onMounted,
  onUnmounted,
  watch
} from '@vue/composition-api';

export default defineComponent({
  name: 'Filmstrip',
  components: {},
  props: {
    src: {
      type: String,
      required: true
    },
    cellWidth: {
      type: Number,
      default: 320
    },
    cellHeight: {
      type: Number,
      default: 180
    }
  },
  setup(props, { emit, root }) {
    const { cellWidth, cellHeight } = props;
    const settings = computed(() => root.$store.getters['app/settings']);
    const fps = ref(18);
    const intervalTime = ref(Math.round(1000 / fps.value) | 0);

    let timer: any = null;
    let position = 0;
    let imageStyle = ref({
      width: 'auto',
      height: 'auto',
      transformOrigin: 'left top',
      transform: 'translate(-2000px)',
      margin: 0,
      willChange: `transform`
    });
    // let viewportStyle = ref({
    //   width: `${cellWidth}px`,
    //   height: `${cellHeight}px`,
    //   position: 'relative',
    //   overflow: 'hidden',
    // });
    const imageWidth = ref(10880);

    const runPlayer = () => {
      timer = setInterval(function() {
        position =
          Math.abs(position - cellWidth) >= imageWidth.value
            ? 0
            : position - cellWidth;
        imageStyle.value.transform = `translate(${position}px)`;
      }, intervalTime.value);
    };
    const startPlay = () => {
      if (timer) {
        clearInterval(timer);
      }
      runPlayer();
    };

    watch(
      settings,
      newValue => {
        fps.value = newValue.mediaPlaybackSpeed;
        intervalTime.value = Math.round(1000 / fps.value) | 0;
        startPlay();
      },
      {
        deep: true,
        immediate: true
      }
    );

    const onImageLoad = (ev: Event) => {
      imageWidth.value = (ev.target as any).width;
    };

    onMounted(() => {
      // pass
    });

    onUnmounted(() => {
      if (timer) {
        clearInterval(timer);
      }
    });

    const boundingStyle = computed(() => {
      // directly set width/height of main outside div in order to other 
      // elements in html to react then scale the inside div
      const height: number = settings.value.mediaThumbnailSize / settings.value.mediaThumbnailRatio;
      return `height:${String(height)}px;width:${String(settings.value.mediaThumbnailSize)}px`;
    });

    const viewportStyle = computed(() => {
      const scale: number = settings.value.mediaThumbnailSize / cellWidth;
      // return `transform-origin: left top;height:${height}px;width:50px;background:red`;
      return `width: ${String(cellWidth)}px; height: ${String(cellHeight)}px; position: relative; overflow: hidden; transform-origin: left top; transform: scale(${scale});`
    });

    return {
      imageStyle,
      position,
      onImageLoad,
      viewportStyle,
      boundingStyle
    };
  }
});
</script>

<style lang="scss" scoped></style>
