<template>
  <q-list padding>
    <!-- <q-item>
      <q-item-section side>
        <q-btn icon="mdi-menu" flat dense>
          <q-menu v-model="presetMenu" auto-close content-class="bg-primary">
            <q-list>
              <q-item clickable @click="loadFiltersPreset">
                <q-item-section side>
                  <q-icon name="mdi-folder-open" />
                </q-item-section>
                <q-item-section>Load Preset...</q-item-section>
              </q-item>
              <q-item clickable @click="saveFiltersPreset">
                <q-item-section side>
                  <q-icon name="mdi-content-save" />
                </q-item-section>
                <q-item-section>Save Preset...</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable @click="resetFilters">
                <q-item-section avatar>
                  <q-icon name="mdi-sync" />
                </q-item-section>
                <q-item-section>Reset Filters</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-item-section>

      <q-item-section>
        Filters
      </q-item-section>
      <q-item-section side>
        <q-btn
          flat
          rounded
          color="primary"
          v-if="filters.type || filters.collection || filters.tag"
          @click="resetFilters"
        >
          Reset
        </q-btn>
      </q-item-section>
    </q-item> -->

    <q-item>
      <q-item-section side>
        <q-icon name="mdi-sort-variant" />
        <q-tooltip :delay="700">Sorting</q-tooltip>
      </q-item-section>

      <q-item-section>
        <q-select
          stack-label
          standout
          dense
          options-dense
          option-value="value"
          option-label="label"
          :value="filters.sorting"
          @input="ev => updateFilter({ sorting: ev })"
          :options="filterData.sortings"
          label="Sort"
        >
        </q-select>
      </q-item-section>
    </q-item>

    <q-item>
      <q-item-section side>
        <q-icon name="mdi-shape">
          <q-badge
            color="primary"
            style="font-style: normal"
            floating
            v-if="filters.type"
          >
            1
          </q-badge>
        </q-icon>
        <q-tooltip :delay="700">Types</q-tooltip>
      </q-item-section>

      <q-item-section>
        <q-select
          clearable
          dense
          options-dense
          stack-label
          standout
          option-value="id"
          option-label="name"
          :value="filters.type"
          @input="ev => updateFilter({ type: ev })"
          :options="filterData.types"
          placeholder="All"
          :label="!filters.type ? 'Types (All)' : 'Types'"
        >
        </q-select>
      </q-item-section>
    </q-item>

    <q-item>
      <q-item-section side>
        <q-icon name="mdi-bookmark">
          <q-badge
            color="primary"
            style="font-style: normal"
            floating
            v-if="filters.collection && filters.collection.length > 0"
          >
            {{ filters.collection.length }}
          </q-badge>
        </q-icon>
        <q-tooltip :delay="700">Collections</q-tooltip>
      </q-item-section>

      <q-item-section>
        <q-select
          clearable
          stack-label
          standout
          dense
          options-dense
          multiple
          use-chips
          option-value="id"
          option-label="name"
          :value="filters.collection"
          @input="ev => updateFilter({ collection: ev })"
          :options="filterData.collections"
          label="Collections"
        >
        </q-select>
      </q-item-section>
    </q-item>

    <q-item>
      <q-item-section side>
        <q-icon name="mdi-tag-multiple">
          <q-badge
            color="primary"
            style="font-style: normal"
            floating
            v-if="filters.tag && filters.tag.length > 0"
          >
            {{ filters.tag.length }}
          </q-badge>
        </q-icon>
        <q-tooltip :delay="700">Tags</q-tooltip>
      </q-item-section>

      <q-item-section>
        <q-select
          clearable
          stack-label
          standout
          dense
          options-dense
          multiple
          use-chips
          option-value="id"
          option-label="name"
          :value="filters.tag"
          @input="ev => updateFilter({ tag: ev })"
          :options="filterData.tags"
          label="Tags"
        >
        </q-select>
      </q-item-section>
    </q-item>

    <q-item>
      <q-item-section />
      <q-item-section>
        <q-btn
          flat
          rounded
          color="primary"
          v-if="filters.type || filters.collection || filters.tag"
          @click="resetFilters"
        >
          Reset
        </q-btn>
      </q-item-section>
      <q-item-section>
        <q-btn flat rounded @click="saveFiltersPreset">
          Save
        </q-btn>
      </q-item-section>
      <q-item-section>
        <q-btn flat rounded @click="loadFiltersPreset">
          Load
        </q-btn>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from '@vue/composition-api';
import { FilterState } from '../models/types';

export default defineComponent({
  name: 'FiltersPanel',
  props: {},

  setup(props, { root }) {
    const filters = computed(() => root.$store.getters['app/filters']);
    const filterData = computed(() => root.$store.getters['app/filterData']);
    const presetMenu = ref(false);

    const updateFilter = (filters: Partial<FilterState>) => {
      void root.$store.dispatch('app/updateFilter', filters);
    };

    return {
      presetMenu,
      filterData,
      filters,
      updateFilter,
      resetFilters: () => root.$store.dispatch('app/resetFilters'),
      loadFiltersPreset: () => root.$store.dispatch('app/loadFilterPreset'),
      saveFiltersPreset: () => {
        presetMenu.value = false;
        void root.$store.dispatch('app/saveFiltersPreset');
      }
    };
  }
});
</script>
