<template>
  <q-card dark class="bg-grey-10" style="width:50vw; max-width: 80vw;">
    <q-toolbar class="bg-primary">
      <q-avatar>
        <q-icon size="md" name="mdi-cog" />
      </q-avatar>

      <q-toolbar-title>Settings</q-toolbar-title>

      <q-btn flat round dense icon="close" v-close-popup />
    </q-toolbar>

    <q-list padding>
      <q-item>
        <q-item-section>
          <q-item-label>Database</q-item-label>
          <q-item-label caption>
            The database to load assets from
          </q-item-label>
          <q-item-label>
            <q-select
              dense
              options-dense
              standout
              v-model="database"
              :options="databaseItems"
            >
              <template v-slot:prepend>
                <q-icon name="mdi-database" />
              </template>
            </q-select>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>Items Per Page</q-item-label>
          <q-item-label caption>
            Number of items to display per page
          </q-item-label>
          <q-item-label>
            <q-select
              dense
              options-dense
              standout
              :options="pageOptions"
              :value="filters.pageSize"
              @input="ev => updateFilter({ pageSize: ev })"
            />
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>Framerate</q-item-label>
          <q-item-label caption>
            Playback speed (FPS) for thumbnail previews
          </q-item-label>
          <q-item-label>
            <q-slider
              label
              v-model="settings.mediaPlaybackSpeed"
              :min="4"
              :max="60"
              :step="1"
            />
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>Thumbnail</q-item-label>
          <q-item-label caption>
            Adjust size of thumbnail in gallery view
          </q-item-label>
          <q-item-label>
            <q-slider
              label
              v-model="settings.mediaThumbnailSize"
              :min="128"
              :max="540"
              :step="1"
            />
          </q-item-label>
        </q-item-section>
      </q-item>

      <!-- <q-item tag="label" hii>
        <q-item-section>
          <q-item-label>Autoplay videos</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle v-model="settings.mediaAutoPlay" />
        </q-item-section>
      </q-item> -->
    </q-list>
    <q-card-actions align="right">
      <q-btn color="primary" v-close-popup>OK</q-btn>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
  watch,
  ref,
  computed,
  onUnmounted,
  Ref
} from '@vue/composition-api';
import { AppSettings, Database } from '../models/types';
import { defaultDatabases } from '../store/app/state';
import { FilterState } from 'src/models/types';

export default defineComponent({
  name: 'Settings',

  props: {},

  setup(props, { emit, root }) {
    const settings: AppSettings = reactive({
      ...root.$store.getters['app/settings']
    });

    const database: Ref<Database> = ref(root.$store.getters['app/database']);
    const databaseItems: Database[] = defaultDatabases;
    const filters = computed(() => root.$store.getters['app/filters']);

    onUnmounted(() => {
      root.$store.dispatch('app/setDatabase', database.value);
      root.$store.dispatch('app/setSettings', settings);
    });

    const updateFilter = (filters: Partial<FilterState>) => {
      void root.$store.dispatch('app/updateFilter', filters);
    };

    return {
      settings,
      database,
      databaseItems,
      filters,
      pageOptions: [5, 10, 25, 50, 75, 100],
      updateFilter
    };
  }
});
</script>
