<template>
  <q-layout view="hHh LpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-avatar>
          <q-icon size="lg" name="svguse:icons.svg#logo" />
          <q-tooltip :delay="700">Hunter</q-tooltip>
        </q-avatar>

        <!-- <q-toolbar-title>
          Hunter
        </q-toolbar-title> -->
        <q-space />

        <q-input
          dense
          rounded
          standout
          clearable
          class="q-mx-xs"
          placeholder="Search"
          :value="searchQuery"
          @input="ev => (searchQuery = ev)"
          @clear="ev => updateFilter({ searchQuery: null })"
          @change="ev => updateFilter({ searchQuery: searchQuery })"
          :loading="loading"
        >
          <template v-slot:prepend>
            <q-icon name="mdi-magnify" />
          </template>
        </q-input>

        <!-- <q-btn
          flat
          round
          dense
          :icon="showFilters ? 'mdi-filter' : 'mdi-filter-outline'"
          class="q-mx-xs"
          @click="showFilters = !showFilters"
        >
          <q-tooltip :delay="700">Filters</q-tooltip>
        </q-btn> -->

        <!-- <q-btn
          flat
          round
          dense
          :icon="filters.showFavorites ? 'mdi-heart' : 'mdi-heart-outline'"
          class="q-mx-xs"
          :value="filters.showFavorites"
          @click="ev => updateFilter({ showFavorites: !filters.showFavorites })"
        >
          <q-tooltip :delay="700">
            Favorites
            <br />
            <span class="text-italic">
              List of favorites
            </span>
          </q-tooltip>
        </q-btn> -->

        <q-btn
          flat
          round
          dense
          :icon="filters.showShoppingCart ? 'mdi-cart' : 'mdi-cart-outline'"
          class="q-mx-xs"
          :value="filters.showShoppingCart"
          @click="
            ev => updateFilter({ showShoppingCart: !filters.showShoppingCart })
          "
        >
          <q-tooltip :delay="700">
            Cart
            <br />
            <span class="text-italic">
              Local list of favorites
            </span>
          </q-tooltip>
          <q-badge color="red" floating v-if="shoppingCart.length > 0">{{
            shoppingCart.length
          }}</q-badge>

          <!-- context menu -->
          <q-menu touch-position context-menu>
            <q-list style="min-width: 100px" class="bg-grey-9">
              <q-item clickable v-close-popup @click="clearShoppingCart()">
                <q-item-section side>
                  <q-icon name="mdi-cart-remove" />
                </q-item-section>
                <q-item-section>Clear</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>

        <q-separator inset spaced vertical />

        <q-btn
          flat
          round
          dense
          icon="mdi-cog"
          class="q-mx-xs"
          @click="showSettings = true"
        >
          <q-tooltip :delay="700">Settings</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <!-- The sidebar with Filters -->
    <q-drawer
      v-model="showFilters"
      :mini="!showFilters || showFiltersMini"
      :width="340"
      :breakpoint="100"
      content-class="bg-grey-10"
      @click.capture="drawerClicked"
    >
      <q-scroll-area class="fit no-scroll">
        <FiltersPanel />
      </q-scroll-area>

      <!-- <div class="absolute" style="top: 25px; right: -12px"> -->
      <div class="absolute" style="top: 20px; right: -12px">
        <q-btn
          dense
          round
          unelevated
          color="primary"
          size="sm"
          :icon="showFiltersMini ? 'chevron_right' : 'chevron_left'"
          @click="showFiltersMini = true"
        >
          <q-tooltip :delay="700">Minimize</q-tooltip>
        </q-btn>
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-dialog v-model="showSettings">
      <SettingsPanel />
    </q-dialog>
  </q-layout>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  Ref,
  computed,
  ComputedRef
} from '@vue/composition-api';
import FiltersPanel from 'src/components/FiltersPanel.vue';
import SettingsPanel from 'src/components/SettingsPanel.vue';
import { FilterState } from '../models/types';

export default defineComponent({
  name: 'MainLayout',
  components: { FiltersPanel, SettingsPanel },
  setup(props, { root }) {
    const showFilters: Ref<boolean> = ref(true);
    const showFiltersMini: Ref<boolean> = ref(false);
    const showSettings: Ref<boolean> = ref(false);
    const filters: ComputedRef<FilterState> = computed(
      () => root.$store.getters['app/filters']
    );
    const loading = computed(() => root.$store.getters['results/loading']);

    const searchQuery = ref(filters.value.searchQuery);

    const shoppingCart = computed(() => {
      return root.$store.getters['app/filters'].shoppingCart || [];
    });

    const updateFilter = (filters: Partial<FilterState>) => {
      root.$store.dispatch('app/updateFilter', filters);
    };

    const drawerClicked = (e: Event) => {
      // if in "mini" state and user
      // click on drawer, we switch it to "normal" mode
      if (showFiltersMini.value) {
        showFiltersMini.value = false;

        // notice we have registered an event with capture flag;
        // we need to stop further propagation as this click is
        // intended for switching drawer to "normal" mode only
        e.stopPropagation();
      }
    };

    const clearShoppingCart = () => {
      void root.$store.dispatch('app/clearShoppingCart');
    };

    return {
      searchQuery,
      showFilters,
      showFiltersMini,
      showSettings,
      filters,
      updateFilter,
      shoppingCart,
      loading,
      drawerClicked: drawerClicked,
      clearShoppingCart: clearShoppingCart
    };
  }
});
</script>
